#!/bin/bash

function xbps-fzf() {
    # xpkg -a | fzf -m --preview 'xq {1}' --preview-window=right:66%:wrap | xargs -ro xi
    . $ENVIRONMENT_SCRIPTS/xbps-fzf.sh
}

alias fd='fd --hidden'
alias less='bat'
alias cp='cp -v'
alias mv='mv -v'
alias rm='rm -v'

alias dot='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias info='info --vi-keys'

alias CON="cd ${HOME}/.config"
alias EV="cd ${HOME}/.config/env"
alias REA="cd ${HOME}/Programming/00_Other/readme"
alias DOW="cd ${HOME}/Downloads"
alias DOC="cd ${HOME}/Documents"
alias MUS="cd ${HOME}/Music"
alias PBC="cd ${HOME}/PinebookPro"

alias GI="cd ${HOME}/Git"
alias PRO="cd ${HOME}/Programming"
alias BAS="cd ${HOME}/Programming/01_Bash"
alias CPP="cd ${HOME}/Programming/02_Cpp"
alias PYT="cd ${HOME}/Programming/03_Python"
alias RUS="cd ${HOME}/Programming/04_Rust"

alias todo="rg 'TODO' -A5 ~/Documents/README/TODO/todo.md"
alias buy="rg 'BUY|ORDERED' -A2 ~/Documents/README/buy/shopping_list.md"

alias poweroff='sudo poweroff'
alias reboot='sudo reboot'

# alias alert='echo -e '\''\a'\'

# alias l='ls -lh --color=always --group-directories-first --time-style="+%Y-%m-%d %H:%M"'
# alias l.='ls -d .*'
# alias la='ls -lAh --color=always --group-directories-first --time-style="+%Y-%m-%d %H:%M"'
# alias ll='ls -lah --color=always --group-directories-first --time-style="+%Y-%m-%d %H:%M"'
# alias ls='ls --color=always --group-directories-first --time-style="+%Y-%m-%d %H:%M"'
# alias lsa='ls -lah --color=always --group-directories-first --time-style="+%Y-%m-%d %H:%M"'

alias rc='source ${HOME}/.zshrc'
alias rs='${HOME}/.config/env/gpg-agent_switch.sh'

# alias vifm=$ENVIRONMENT_SCRIPTS/application_wrappers/vifmrun
# alias fzf=$ENVIRONMENT_SCRIPTS/application_wrappers/fzfimg.sh

alias bup='brew update; omz update'
alias bin='brew install'
alias bun='brew uninstall'
alias bse='brew search'
# alias xs='$HOME/Git/void-packages/xbps-src'

alias weechat="weechat -d $HOME/.config/weechat"
alias mail="aerc"
alias rss="newsboat"
alias yt='${HOME}/Git/ytfzf/ytfzf --preview-side=bottom'
alias ts='we-get'
alias ggl='googler'

alias ifuse='sudo ifuse -o allow_user'

# alias gcc='/opt/homebrew/bin/gcc-13'
# alias g++='/opt/homebrew/bin/g++-13'

