##### CORE #####
directory = /Users/fm/downloads/torrents
session = /Users/fm/.rtorrent/session
session.use_lock = no

##### WATCH DIR #####
schedule2 = watch,5,5,load.start=/Users/fm/.rtorrent/watch/*.torrent

##### NETWORK #####
port_range = 50000-50010
port_random = no
check_hash = yes

##### RPC (LOCAL SOCKET) #####
network.scgi.open_local = /Users/fm/.rtorrent/rpc.socket

##### SAFETY #####
pieces.hash.on_completion = yes
